<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PMInterview.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C7A965361DC7C6AA00F26F6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7A9654F1DC7C6AA00F26F6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7A9655A1DC7C6AA00F26F6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
